@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  /* font-family: outfit; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Adjust based on your navbar height */
}